<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlfinfo.mapper.ActivityMapper">
    <resultMap id="BaseResultMap" type="com.zlfinfo.model.Activity">
        <id column="act_id" property="actId" jdbcType="INTEGER"/>
        <result column="act_type" property="actType" jdbcType="INTEGER"/>
        <result column="act_title" property="actTitle" jdbcType="VARCHAR"/>
        <result column="act_content" property="actContent" jdbcType="VARCHAR"/>
        <result column="act_img" property="actImg" jdbcType="VARCHAR"/>
        <result column="act_time" property="actTime" jdbcType="TIMESTAMP"/>
        <result column="act_like" property="actLike" jdbcType="INTEGER"/>
        <result column="act_comment" property="actComment" jdbcType="INTEGER"/>
        <result column="act_follow" property="actFollow" jdbcType="INTEGER"/>
        <result column="act_join" property="actJoin" jdbcType="INTEGER"/>
        <result column="act_signup" property="actSignup" jdbcType="INTEGER"/>
        <result column="act_place" property="actPlace" jdbcType="VARCHAR"/>
        <result column="reserve1" property="reserve1" jdbcType="VARCHAR"/>
        <result column="reserve2" property="reserve2" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="indexResultMap" type="com.zlfinfo.model.Activity">
        <id column="act_id" property="actId" jdbcType="INTEGER"/>
        <result column="act_type" property="actType" jdbcType="INTEGER"/>
        <result column="act_title" property="actTitle" jdbcType="VARCHAR"/>
        <result column="act_content" property="actContent" jdbcType="VARCHAR"/>
        <result column="act_img" property="actImg" jdbcType="VARCHAR"/>
        <result column="act_time" property="actTime" jdbcType="TIMESTAMP"/>
        <result column="act_like" property="actLike" jdbcType="INTEGER"/>
        <result column="act_comment" property="actComment" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        act_id, act_type, act_title, act_content, act_img, act_time, act_like, act_comment,
        act_follow, act_join, act_signup, act_place, reserve1, reserve2
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from activity
        where act_id = #{actId,jdbcType=INTEGER}
    </select>


    <select id="selectActivityByUserNType" resultMap="indexResultMap">
        SELECT
            act_v.act_id,
            act_v.act_type,
            act_v.act_title,
            act_v.act_content,
            act_v.act_img,
            act_v.act_time,
            act_v.act_like,
            act_v.act_comment
        FROM
            activity_view act_v
        NATURAL JOIN USER
        NATURAL JOIN login_status
        WHERE
            login_status.`status` = 0
        AND act_v.act_type = #{type}
        AND `user`.username = #{username}
    </select>


    <select id="selectMineActivity" resultMap="indexResultMap">
        SELECT DISTINCT
            act_v.act_id,
            act_v.act_type,
            act_v.act_title,
            act_v.act_content,
            act_v.act_img,
            act_v.act_time,
            act_v.act_like,
            act_v.act_comment
        FROM
            activity_view act_v
        NATURAL JOIN user_activity
        NATURAL JOIN USER
        NATURAL JOIN login_status
        WHERE
            login_status.`status` = 0
        AND user_activity.flag = #{flag}
        AND `user`.username = #{username}
    </select>

    <select id="selectAllActivity" resultMap="BaseResultMap">
      SELECT * FROM  activity
    </select>

    <delete id="deleteByPrimaryKey">
    delete from activity
    where act_id = #{actId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.zlfinfo.model.Activity">
    insert into activity (act_id, act_type, act_title, 
      act_content, act_img, act_time, 
      act_like, act_comment, act_follow, 
      act_join, act_signup, act_place, 
      reserve1, reserve2)
    values (#{actId,jdbcType=INTEGER}, #{actType,jdbcType=INTEGER}, #{actTitle,jdbcType=VARCHAR},
      #{actContent,jdbcType=VARCHAR}, #{actImg,jdbcType=VARCHAR}, #{actTime,jdbcType=TIMESTAMP}, 
      #{actLike,jdbcType=INTEGER}, #{actComment,jdbcType=INTEGER}, #{actFollow,jdbcType=INTEGER}, 
      #{actJoin,jdbcType=INTEGER}, #{actSignup,jdbcType=INTEGER}, #{actPlace,jdbcType=VARCHAR}, 
      #{reserve1,jdbcType=VARCHAR}, #{reserve2,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.zlfinfo.model.Activity">
        insert into activity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="actId != null">
                act_id,
            </if>
            <if test="actType != null">
                act_type,
            </if>
            <if test="actTitle != null">
                act_title,
            </if>
            <if test="actContent != null">
                act_content,
            </if>
            <if test="actImg != null">
                act_img,
            </if>
            <if test="actTime != null">
                act_time,
            </if>
            <if test="actLike != null">
                act_like,
            </if>
            <if test="actComment != null">
                act_comment,
            </if>
            <if test="actFollow != null">
                act_follow,
            </if>
            <if test="actJoin != null">
                act_join,
            </if>
            <if test="actSignup != null">
                act_signup,
            </if>
            <if test="actPlace != null">
                act_place,
            </if>
            <if test="reserve1 != null">
                reserve1,
            </if>
            <if test="reserve2 != null">
                reserve2,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="actId != null">
                #{actId,jdbcType=INTEGER},
            </if>
            <if test="actType != null">
                #{actType,jdbcType=INTEGER},
            </if>
            <if test="actTitle != null">
                #{actTitle,jdbcType=VARCHAR},
            </if>
            <if test="actContent != null">
                #{actContent,jdbcType=VARCHAR},
            </if>
            <if test="actImg != null">
                #{actImg,jdbcType=VARCHAR},
            </if>
            <if test="actTime != null">
                #{actTime,jdbcType=TIMESTAMP},
            </if>
            <if test="actLike != null">
                #{actLike,jdbcType=INTEGER},
            </if>
            <if test="actComment != null">
                #{actComment,jdbcType=INTEGER},
            </if>
            <if test="actFollow != null">
                #{actFollow,jdbcType=INTEGER},
            </if>
            <if test="actJoin != null">
                #{actJoin,jdbcType=INTEGER},
            </if>
            <if test="actSignup != null">
                #{actSignup,jdbcType=INTEGER},
            </if>
            <if test="actPlace != null">
                #{actPlace,jdbcType=VARCHAR},
            </if>
            <if test="reserve1 != null">
                #{reserve1,jdbcType=VARCHAR},
            </if>
            <if test="reserve2 != null">
                #{reserve2,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zlfinfo.model.Activity">
        update activity
        <set>
            <if test="actType != null">
                act_type = #{actType,jdbcType=INTEGER},
            </if>
            <if test="actTitle != null">
                act_title = #{actTitle,jdbcType=VARCHAR},
            </if>
            <if test="actContent != null">
                act_content = #{actContent,jdbcType=VARCHAR},
            </if>
            <if test="actImg != null">
                act_img = #{actImg,jdbcType=VARCHAR},
            </if>
            <if test="actTime != null">
                act_time = #{actTime,jdbcType=TIMESTAMP},
            </if>
            <if test="actLike != null">
                act_like = #{actLike,jdbcType=INTEGER},
            </if>
            <if test="actComment != null">
                act_comment = #{actComment,jdbcType=INTEGER},
            </if>
            <if test="actFollow != null">
                act_follow = #{actFollow,jdbcType=INTEGER},
            </if>
            <if test="actJoin != null">
                act_join = #{actJoin,jdbcType=INTEGER},
            </if>
            <if test="actSignup != null">
                act_signup = #{actSignup,jdbcType=INTEGER},
            </if>
            <if test="actPlace != null">
                act_place = #{actPlace,jdbcType=VARCHAR},
            </if>
            <if test="reserve1 != null">
                reserve1 = #{reserve1,jdbcType=VARCHAR},
            </if>
            <if test="reserve2 != null">
                reserve2 = #{reserve2,jdbcType=VARCHAR},
            </if>
        </set>
        where act_id = #{actId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zlfinfo.model.Activity">
    update activity
    set act_type = #{actType,jdbcType=INTEGER},
      act_title = #{actTitle,jdbcType=VARCHAR},
      act_content = #{actContent,jdbcType=VARCHAR},
      act_img = #{actImg,jdbcType=VARCHAR},
      act_time = #{actTime,jdbcType=TIMESTAMP},
      act_like = #{actLike,jdbcType=INTEGER},
      act_comment = #{actComment,jdbcType=INTEGER},
      act_follow = #{actFollow,jdbcType=INTEGER},
      act_join = #{actJoin,jdbcType=INTEGER},
      act_signup = #{actSignup,jdbcType=INTEGER},
      act_place = #{actPlace,jdbcType=VARCHAR},
      reserve1 = #{reserve1,jdbcType=VARCHAR},
      reserve2 = #{reserve2,jdbcType=VARCHAR}
    where act_id = #{actId,jdbcType=VARCHAR}
  </update>
</mapper>