<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlfinfo.mapper.ActivityCommentMapper">
    <resultMap id="BaseResultMap" type="com.zlfinfo.model.ActivityComment">
        <id column="act_com_id" property="actComId" jdbcType="INTEGER"/>
        <result column="act_id" property="actId" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="avatar" property="avatar" jdbcType="VARCHAR"/>
        <result column="act_com_content" property="actComContent" jdbcType="VARCHAR"/>
        <result column="act_com_time" property="actComTime" jdbcType="TIMESTAMP"/>
        <result column="act_com_like" property="actComLike" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
         act_com_id, act_id, username, avatar, act_com_content, act_com_time, act_com_like
    </sql>

    <select id="selectActivityCommentByActId" resultMap="BaseResultMap">
        SELECT activity_comment.*, user.avatar FROM activity_comment, user
        WHERE user.username = #{username}
        AND act_id = #{actId}
        ORDER BY activity_comment.act_com_time DESC
    </select>

    <insert id="insert" parameterType="com.zlfinfo.model.ActivityComment">
        INSERT INTO activity_comment (act_id, username, act_com_content,
          act_com_time, act_com_like)
        VALUES (#{actId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{actComContent,jdbcType=VARCHAR},
          #{actComTime,jdbcType=TIMESTAMP}, #{actComLike,jdbcType=INTEGER})
    </insert>

    <insert id="insertSelective" parameterType="com.zlfinfo.model.ActivityComment">
        INSERT INTO activity_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="actId != null">
                act_id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="actComContent != null">
                act_com_content,
            </if>
            <if test="actComTime != null">
                act_com_time,
            </if>
            <if test="actComLike != null">
                act_com_like,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="actId != null">
                #{actId,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="actComContent != null">
                #{actComContent,jdbcType=VARCHAR},
            </if>
            <if test="actComTime != null">
                #{actComTime,jdbcType=TIMESTAMP},
            </if>
            <if test="actComLike != null">
                #{actComLike,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

</mapper>