<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlfinfo.mapper.AnswerMapper">
    <resultMap id="BaseResultMap" type="com.zlfinfo.model.Answer">
        <id column="ans_id" property="ansId" jdbcType="INTEGER"/>
        <id column="que_id" property="queId" jdbcType="INTEGER"/>
        <id column="username" property="username" jdbcType="VARCHAR"/>
        <id column="avatar" property="avatar" jdbcType="VARCHAR"/>
        <result column="univ_name" property="university" jdbcType="VARCHAR"/>
        <result column="ans_content" property="ansContent" jdbcType="VARCHAR"/>
        <result column="ans_like" property="ansLike" jdbcType="INTEGER"/>
        <result column="ans_comment" property="ansComment" jdbcType="INTEGER"/>
        <result column="ans_time" property="ansTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
      ans_id, que_id, username, avatar, ans_content, ans_like, ans_comment, ans_time
    </sql>

    <select id="selectAnswer" resultMap="BaseResultMap">
        SELECT
            answer.ans_id,
            answer.que_id,
            answer.username,
            university.univ_name,
            USER .avatar,
            answer.ans_content,
            answer.ans_like,
            answer.ans_comment,
            answer.ans_time
        FROM
            answer
        NATURAL JOIN USER,
         university
        WHERE
            que_id = #{queId,jdbcType=VARCHAR}
        AND `user`.university = university.univ_id
    </select>

    <insert id="insert" parameterType="com.zlfinfo.model.Answer">
        INSERT INTO answer (ans_id, que_id, username,
          ans_content, ans_like, ans_comment,
          ans_time)
        VALUES (#{ansId,jdbcType=VARCHAR}, #{queId,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR},
          #{ansContent,jdbcType=VARCHAR}, #{ansLike,jdbcType=INTEGER}, #{ansComment,jdbcType=INTEGER},
          #{ansTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.zlfinfo.model.Answer">
        INSERT INTO answer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ansId != null">
                ans_id,
            </if>
            <if test="queId != null">
                que_id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="ansContent != null">
                ans_content,
            </if>
            <if test="ansLike != null">
                ans_like,
            </if>
            <if test="ansComment != null">
                ans_comment,
            </if>
            <if test="ansTime != null">
                ans_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ansId != null">
                #{ansId,jdbcType=VARCHAR},
            </if>
            <if test="queId != null">
                #{queId,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="ansContent != null">
                #{ansContent,jdbcType=VARCHAR},
            </if>
            <if test="ansLike != null">
                #{ansLike,jdbcType=INTEGER},
            </if>
            <if test="ansComment != null">
                #{ansComment,jdbcType=INTEGER},
            </if>
            <if test="ansTime != null">
                #{ansTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zlfinfo.model.Answer">
        UPDATE answer
        <set>
            <if test="ansContent != null">
                ans_content = #{ansContent,jdbcType=VARCHAR},
            </if>
            <if test="ansLike != null">
                ans_like = #{ansLike,jdbcType=INTEGER},
            </if>
            <if test="ansComment != null">
                ans_comment = #{ansComment,jdbcType=INTEGER},
            </if>
            <if test="ansTime != null">
                ans_time = #{ansTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        WHERE ans_id = #{ansId,jdbcType=VARCHAR}
        AND que_id = #{queId,jdbcType=VARCHAR}
        AND username = #{username,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.zlfinfo.model.Answer">
        UPDATE answer
        SET ans_content = #{ansContent,jdbcType=VARCHAR},
          ans_like = #{ansLike,jdbcType=INTEGER},
          ans_comment = #{ansComment,jdbcType=INTEGER},
          ans_time = #{ansTime,jdbcType=TIMESTAMP}
        WHERE ans_id = #{ansId,jdbcType=VARCHAR}
          AND que_id = #{queId,jdbcType=VARCHAR}
          AND username = #{username,jdbcType=VARCHAR}
  </update>

    <update id="addCommentNum" parameterType="java.lang.Integer">
        UPDATE answer SET ans_comment SET ans_comment + 1 WHERE ans_id = #{ansId}
    </update>
</mapper>