<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlfinfo.mapper.UniversityMapper">
    <resultMap id="universityMap" type="com.zlfinfo.model.University">
        <id column="univ_id" property="univId"/>
        <result column="univ_name" property="univName"/>
    </resultMap>

    <select id="selectUniversity" resultType="com.zlfinfo.model.University">
        select univ_id, univ_name
        from university
        where univ_id = #{univId,jdbcType=VARCHAR}
    </select>

    <select id="selectAllUniversity" resultMap="universityMap">
         select univ_id, univ_name from university
    </select>

</mapper>