<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlfinfo.mapper.UserActivityMapper">
    <resultMap id="BaseResultMap" type="com.zlfinfo.model.UserActivity">
        <id column="act_id" jdbcType="INTEGER" property="actId"/>
        <id column="username" jdbcType="VARCHAR" property="username"/>
        <result column="like_flag" jdbcType="INTEGER" property="likeFlag"/>
        <result column="laun_flag" jdbcType="INTEGER" property="launFlag"/>
        <result column="comm_flag" jdbcType="INTEGER" property="commFlag"/>
        <result column="join_flag" jdbcType="INTEGER" property="joinFlag"/>
        <result column="fav_flag" jdbcType="INTEGER" property="favFlag"/>
    </resultMap>

    <sql id="Base_Column_List">
        act_id, username, like_flag, laun_flag, comm_flag, join_flag, fav_flag
    </sql>

    <select id="selectUserActivity" resultMap="BaseResultMap">
        SELECT act_id, username, like_flag, laun_flag, comm_flag, join_flag, fav_flag
        FROM user_activity
        WHERE act_id = #{actId,jdbcType=INTEGER}
        AND username = #{username,jdbcType=VARCHAR}
    </select>


    <insert id="insertSelective" parameterType="com.zlfinfo.model.UserActivity">
        INSERT INTO user_activity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="actId != null">
                act_id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="likeFlag != null">
                like_flag,
            </if>
            <if test="launFlag != null">
                laun_flag,
            </if>
            <if test="commFlag != null">
                comm_flag,
            </if>
            <if test="joinFlag != null">
                join_flag,
            </if>
            <if test="favFlag != null">
                fav_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="actId != null">
                #{actId,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="likeFlag != null">
                #{likeFlag,jdbcType=INTEGER},
            </if>
            <if test="launFlag != null">
                #{launFlag,jdbcType=INTEGER},
            </if>
            <if test="commFlag != null">
                #{commFlag,jdbcType=INTEGER},
            </if>
            <if test="joinFlag != null">
                #{joinFlag,jdbcType=INTEGER},
            </if>
            <if test="favFlag != null">
                #{favFlag,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.zlfinfo.model.UserActivity">
        UPDATE user_activity
        <set>
            <if test="likeFlag != null">
                like_flag = #{likeFlag,jdbcType=INTEGER},
            </if>
            <if test="launFlag != null">
                laun_flag = #{launFlag,jdbcType=INTEGER},
            </if>
            <if test="commFlag != null">
                comm_flag = #{commFlag,jdbcType=INTEGER},
            </if>
            <if test="joinFlag != null">
                join_flag = #{joinFlag,jdbcType=INTEGER},
            </if>
            <if test="favFlag != null">
                fav_flag = #{favFlag,jdbcType=INTEGER},
            </if>
        </set>
        WHERE act_id = #{actId,jdbcType=INTEGER}
        AND username = #{username,jdbcType=VARCHAR}
        AND 0 = (
        SELECT status
        FROM login_status
        WHERE username = #{username}
        )
    </update>

</mapper>