<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlfinfo.mapper.UserStudyMapper" >
  <resultMap id="BaseResultMap" type="com.zlfinfo.model.UserStudy" >
    <id column="std_id" property="stdId" jdbcType="INTEGER" />
    <id column="username" property="username" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    std_id, username, flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from user_study
    where std_id = #{stdId,jdbcType=INTEGER}
      and username = #{username,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from user_study
    where std_id = #{stdId,jdbcType=INTEGER}
      and username = #{username,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zlfinfo.model.UserStudy" >
    insert into user_study (std_id, username, flag
      )
    values (#{stdId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zlfinfo.model.UserStudy" >
    insert into user_study
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stdId != null" >
        std_id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="flag != null" >
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stdId != null" >
        #{stdId,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zlfinfo.model.UserStudy" >
    update user_study
    <set >
      <if test="flag != null" >
        flag = #{flag,jdbcType=INTEGER},
      </if>
    </set>
    where std_id = #{stdId,jdbcType=INTEGER}
      and username = #{username,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zlfinfo.model.UserStudy" >
    update user_study
    set flag = #{flag,jdbcType=INTEGER}
    where std_id = #{stdId,jdbcType=INTEGER}
      and username = #{username,jdbcType=VARCHAR}
  </update>
</mapper>