<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlfinfo.mapper.UserStudyTypeMapper">
    <resultMap id="userStudyTypeMap" type="com.zlfinfo.model.UserStudyType">
        <id column="username" property="username"/>
        <id column="stu_type" property="studyType"/>
    </resultMap>

    <select id="selectAllUserStudyType" resultMap="userStudyTypeMap">
        select *
        from user_studytype
        where username = #{username,jdbcType=VARCHAR}
    </select>

</mapper>